body {font-family:Lucida Sans Unicode, Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#444;}

html, body, h1, form, fieldset, input, a img{border:none;  margin: 0;
  padding: 0;
  border: none;}




#overlay {
  position:absolute;
  top:0;
  left;0;
  width:899px;
  height:358px;
  background:url(../images/overlay.png);
}
      #registration {
			color: #fff;
            background: #2d2d2d;
            background: -webkit-gradient(
                            linear,
                            left bottom,
                            left top,
                            color-stop(0, rgb(60,60,60)),
                            color-stop(0.74, rgb(43,43,43)),
                            color-stop(1, rgb(60,60,60))
                        );
            background: -moz-linear-gradient(
                            center bottom,
                            rgb(60,60,60) 0%,
                            rgb(43,43,43) 74%,
                            rgb(60,60,60) 100%
                        );
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
			border-radius: 1px;
			 -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; 
            }

 #registration a {
      color: #8c910b;
      text-shadow: 0px -1px 0px #000;
      }
	  
#registration fieldset {
      padding: 20px;
      }
	  
input.text{
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border:solid 1px #444;
      font-size: 14px;
      width: 60%;
      padding: 7px 8px 7px 30px;
      -moz-box-shadow: 0px 1px 0px #777;
      -webkit-box-shadow: 0px 1px 0px #777;

      color:#333;
      text-shadow:0px 1px 0px #FFF;
}	  

	
 input#password { 
 	background:  url('../images/password.png') no-repeat;
	background-color: #999;
	}
	
 input#name { 
 background:  url('../images/personal.png') no-repeat;
	background-color: #999;
	}
	
input#submit{ 
 background:  url('../images/submit.png') no-repeat;
	background-color: #999;
	width: 130px;
	}
	
#registration h2 {
	color: #fff;
	text-shadow: 0px -1px 0px #000;
	border-bottom: solid #181818 1px;
	-moz-box-shadow: 0px 1px 0px #3a3a3a;
	text-align: center;
	padding: 18px;
	margin: 0px;
	font-weight: normal;
	font-size: 24px;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	}
	
#registerNew {
	width: 203px;
	height: 40px;
	border: none;
	text-indent: -9999px;
	background: url('images/createAccountButton.png') no-repeat;
	cursor: pointer;
	float: right;
	}
	
	#registerNew:hover { background-position: 0px -41px; }
	#registerNew:active { background-position: 0px -82px; }
	
 #registration p {
      position: relative;
      }
	  
fieldset label.infield /* .infield label added by JS */ {
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    position: absolute;
    text-align: left;
    top: 3px !important;
    left: 35px !important;
    line-height: 29px;
    }
	
	
	/* Media Query Start Here*/
	
	img.bg {
			min-height: 100%;
			min-width: 400px;
			width: 100%;
			height: auto;
			position: fixed;
			top: 0;
			left: 0;
			opacity: .8;
			z-index:-9;
		}

div#title {text-align:left;font-size:80px;font-weight:bold;font-family:Arial, Helvetica, Verdana, sans-serif;letter-spacing:-5px;color:#fff;line-height:60px;padding:200px 10px 0 0;}

/* Styles */
#container { background: white; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
#wrapper {width:400px; position:absolute; top: 10%; left: 20%;}
#container {
  background:url(../images/gradient.jpg);
  position:absolute; left: 215px;
  width:600px;
  height:400px;
}
#registration {  position:absolute;
			width: 200px; height: 400px}