
input, textarea {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background-color: transparent;
			border:1px solid #ccc;
			font-size:15px;
			width:150px;
			min-height:20px;
			display:block;  /* input text vj*/
			
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			z-index: 5;
		}
		
		textarea {
				min-height:70px;
		}

		input:focus, textarea:focus {
			-webkit-box-shadow:0 0 25px #ccc;
			-moz-box-shadow:0 0 25px #ccc;
			box-shadow:0 0 25px #ccc;
			
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			transform: scale(1.05);
		}
.inselect{ color: #CF9; border:none;font-family: Lucida Sans, Arial, Helvetica, sans-serif;}
.divpersonal{position:absolute;width: 700px; height: 400px; z-index: 9; background-color: white;
/*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc; */
				  border-radius:10px;}
.lastname{position:absolute; color: white; left:5px;top:0px; font-weight:bold; }
.firstname{color:white;position:absolute;left:200px;top:0px; font-weight:bold}
.middlename{color:white;position:absolute;left:400px;top:0px; font-weight:bold}
.nickname{color:white;position:absolute;left:600px;top:0px; font-weight:bold}

.email{color:white;position:absolute;left:5px;top:60px; font-weight:bold; font-size: 14px}
.contactno{position:absolute; color:white; left:200px; top:60px; font-weight:bold}
.mobileno{color:white;position:absolute;left:400px;top:60px; font-weight:bold}
.age{color:white;position:absolute;left:600px;top:60px; font-weight:bold}

.address{color:white;position:absolute;left:5px;top:120px; font-weight:bold}
.paddress{position:absolute; color:white; left:400px; top:120px; font-weight:bold}

.dob{color:white;position:absolute;left:5px;top:180px; font-weight:bold}
.pob{color:white;position:absolute;left:200px;top:180px; font-weight:bold}
.nationality{position:absolute; color:white; left:400px; top:180px; font-weight:bold}
.gender{color:white;position:absolute;left:600px;top:180px; font-weight:bold}

.cstatus{color:white;position:absolute;left:5px;top:240px; font-weight:bold}
.weight{color:white;position:absolute;left:200px;top:240px; font-weight:bold}
.height{position:absolute; color:white; left:400px; top:240px; font-weight:bold}
.religion{color:white;position:absolute;left:600px;top:240px; font-weight:bold}

.sss{color:white;position:absolute;left:5px;top:300px; font-weight:bold}
.philhealth{color:white;position:absolute;left:200px;top:300px; font-weight:bold}
.pagibig{color:white;position:absolute;left:400px;top:300px; font-weight:bold}
.tin{color:white;position:absolute;left:600px;top:300px; font-weight:bold}

.photo{ position:absolute; left: 50px; top: 120px; max-height: 200px; max-width: 200px; z-index: -2}



/*family*/
.spouse{position:absolute; color: white; left:5px;top:0px; font-weight:bold; }
.sdob{color:white;position:absolute;left:240px;top:0px; font-weight:bold}
.soccupation{color:white;position:absolute;left:480px;top:0px; font-weight:bold}

.father{position:absolute; color: white; left:5px;top:60px; font-weight:bold; }
.fdob{color:white;position:absolute;left:240px;top:60px; font-weight:bold}
.foccupation{color:white;position:absolute;left:480px;top:60px; font-weight:bold}

.mother{position:absolute; color: white; left:5px;top:120px; font-weight:bold; }
.mdob{color:white;position:absolute;left:240px;top:120px; font-weight:bold}
.moccupation{color:white;position:absolute;left:480px;top:120px; font-weight:bold}

.dependent1{position:absolute; color: white; left:5px;top:180px; font-weight:bold; }
.d1dob{color:white;position:absolute;left:240px;top:180px; font-weight:bold}
.d1relation{color:white;position:absolute;left:480px;top:180px; font-weight:bold}

.sib1{position:absolute; color: white; left:5px;top:300px; font-weight:bold; }
.sib1_dob{color:white;position:absolute;left:240px;top:300px; font-weight:bold}
.sib1_occupation{color:white;position:absolute;left:480px;top:300px; font-weight:bold}


/*education*/
.elementary{position:absolute; color: white; left:5px;top:0px; font-weight:bold; width: 220px}
.eyear{color:white;position:absolute;left:240px;top:0px; font-weight:bold}
.edegree{color:white;position:absolute;left:480px;top:0px; font-weight:bold}

.highschool{position:absolute; color: white; left:5px;top:60px; font-weight:bold;  width: 220px}
.hyear{color:white;position:absolute;left:240px;top:60px; font-weight:bold}
.hdegree{color:white;position:absolute;left:480px;top:60px; font-weight:bold}

.college{position:absolute; color: white; left:5px;top:120px; font-weight:bold; width: 220px}
.cyear{color:white;position:absolute;left:240px;top:120px; font-weight:bold}
.cdegree{color:white;position:absolute;left:480px;top:120px; font-weight:bold}

.course{position:absolute; color: white; left:5px;top:180px; font-weight:bold;}


.gstudies{position:absolute; color: white; left:5px;top:240px; font-weight:bold; width: 220px}
.gyear{color:white;position:absolute;left:240px;top:240px; font-weight:bold}
.gdegree{color:white;position:absolute;left:480px;top:240px; font-weight:bold}

.skills{position:absolute; color: white; left:5px;top:300px; font-weight:bold; }



