table.tablesorter {
	font-family:arial;
	background-color: #235d79;
	font-size: 8pt;
	width: 800px;
	text-align: left;
	font-weight:bold;
	
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */


	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 1px;
	color: white
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
		cursor: pointer;

}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #fff;
	vertical-align: top;
	
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}




.table2{ position: absolute; left: 20px; top: 160px}
.logo{ position: absolute; left: 30px; top: 20px; max-height: 100px; max-width: 150px}
.logo2{ position: absolute; left: 650px; top: 20px; max-height: 60px; max-width: 60px}
.logo3{ position: absolute; left: 250px; top: 220px; opacity: .2}
.address{ position: absolute; left: 250px; top: 30px; width: 500px; font-size: 16px}
.PR{ position: absolute; left: 280px; top: 100px; width: 500px; font-size: 40px}
.refid{ position: absolute; left: 650px; top: 100px; font-size: 20px; width: 300px; color:red}
.dateneeded{ position: absolute; left: 750px; top: 150px; font-size: 20px; width: 300px;}
.dept{ position: absolute; left:30px; top: 150px; font-size: 20px; width: 300px;}
.type{ position: absolute; left:400px; top: 150px; font-size: 20px; width: 300px;}
.th1{width: auto}

.request{ position: absolute; left:30px; top: 320px; font-size: 20px; width: 300px;}
.recommend{ position: absolute; left:260px; top: 320px; font-size: 20px; width: 400px;}
.cgm{ position: absolute; left:600px; top: 320px; font-size: 20px; width: 400px;}
.supplier{ position: absolute; left: 20px; top: 180px}








