#choices {position: absolute; top:70px; left: 50px; z-index:9}
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate, .viewdept, .nav-six{ overflow: hidden; margin: 0 0 10px 0; }
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate, .viewdept, .nav-six{ width: auto; float: left; margin: 0 10px 0 0; }
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate, .viewdept, .nav-six{ margin-right: 5; }
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate, .viewdept, .nav-six{ display: block; padding: 5px; color: white; font-size: 20px; text-align: center; border: 0; }
.nav-one,.nav-two,.nav-three,.nav-four,.nav-five,.creditupdate,.viewdept,.nav-six{cursor:pointer;
	border-radius: 5px;
	background: rgb(208,228,247); /* Old browsers */
background: rgb(31,88,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(31,88,158,1) 1%, rgba(32,124,202,1) 66%, rgba(41,137,216,1) 74%, rgba(41,137,216,1) 74%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(31,88,158,1)), color-stop(66%,rgba(32,124,202,1)), color-stop(74%,rgba(41,137,216,1)), color-stop(74%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f589e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.nav-three{position: absolute; top:70px; left: 285px; z-index:9;}
.nav-four{position: absolute; top:70px; left: 410px; z-index:9;}
.nav-five{position: absolute; top:70px; left: 550px; z-index:9;}
.creditupdate{position: absolute; top:70px; left: 750px; z-index:9;}
.viewdept{position: absolute; top:70px; left: 870px; z-index:9;}
.nav-six{position: absolute; top:70px; left: 650px; z-index:9;width: 80px}

.nav-one:hover, .nav-two:hover, .nav-three:hover, .nav-four:hover, .nav-five:hover, .creditupdate:hover, .viewdept:hover{-webkit-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);}

.all_ot{ position:absolute; left:50px; top:120px; display: none;}
.all_leave{ position:absolute; left:50px; top:120px; display: none; }
.cupdate{ position:absolute; left:50px; top:120px; display: none;}
