#btnExport
{
	display: inline-block;
	background-color: #76B7DB;
	padding: 5px;
	text-decoration: none;
	color: #FFF;
	position:absolute;
	top: 60px;
	left: 50px;
	
	border-radius: 10px; width: 150px; height: 20px; -webkit-box-shadow: outset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: outset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			border-radius:5px;

}

	#btnExport:hover{-webkit-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			border-radius:5px;}

* {margin:0; padding:0; outline:0}
#tablewrapper {width:1000px; margin:0 auto; position:absolute; top: 100px; left: 50px;}
.search2 {float:left; padding:6px;  background:clear; width: 600px}
#tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:979px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none;}
.tinytable th {background:url(images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:12px; padding:6px 8px 8px}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1;}
.tinytable .head h3 {background:url(images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background:url(images/header-selected-bg.gif)}
.tinytable .desc h3 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .evenrow td {background:#fff}
.tinytable .oddrow td {background:#ecf2f6}
.tinytable td.evenselected {background:#ecf2f6}
.tinytable td.oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold;display: none}
.tinytable tfoot td {padding:6px 8px 8px}
#tablefooter {height:15px; margin-top:20px}
#tablenav {float:left}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic} 
#selectedrow td {background:#c6d5e1}



img.bg {
			min-height: 100%;
			min-width: 1024px;
			width: 100%;
			height: auto;
			position: fixed;
			top: 0;
			left: 0;
			opacity: .9;
			z-index:-9;
		}
		
		@media screen and (max-width: 1024px){
		img.bg {
				left: 50%;
				margin-left: -512px; }
		}
		#bg { position: relative; width: 600px; margin: 20px auto; padding: 10px; background: white; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }

		
		#wrapper { position: relative; width: 450px; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
		
.title{ position: absolute; left: 300px; top: 5px; text-align:center; width: 450px; background-color: white; height: 100px;
	border-radius: 10px;  -webkit-box-shadow: outset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: outset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			border-radius:10px;}
.title2{  font-size:24px; color: black}
.dhstatus{ position: absolute; left: 30px; top: 40px; color: red; font-weight: bold; }
.cgmstatus{position: absolute; left: 240px; top: 40px; color: red; font-weight: bold;}
.fromecho{ position: absolute; left: 30px; top: 70px; color: red; font-weight: bold; }
.toecho{position: absolute; left: 240px; top: 70px; color: red; font-weight: bold;}
	
label, .title{ color:#333}

