#menutitle	{position: absolute;
				top: 50px;
				left: 10px; font-size: 36px;
				color: white
			}
			#menu{
				z-index:9;
				list-style: none;
				margin: 0;
				padding: 0;
				position: relative;
				top: 150px;
				left: 80px				
			}
			#menuli{
				
	-webkit-box-shadow: -1px 0px 12px 7px rgba(0, 0, 0, 0.19);
	   -moz-box-shadow: -1px 0px 12px 7px rgba(0, 0, 0, 0.19);
	        box-shadow: -1px 0px 12px 7px rgba(0, 0, 0, 0.19);
	background-color: clear;}


			ul.img_list li {
				float: left;
				display: inline-block;
				margin: 0 15px 0 0;
			}
			ul.img_list li a {
				display: block;
			}
			ul.img_list li a img {
				width: 300px;
				height: 380px;
			}
	

.titlemenu{ position: absolute; left: 20%; top: 50px; text-align: center}
			#text {
font-family: Arial, sans-serif;
line-height: 1em;
color: #FFFFFF;
font-size: 60px;
text-shadow:0px 0px 0 rgb(-54,-54,-54),-1px 1px 0 rgb(-101,-101,-101),-2px 2px 0 rgb(-149,-149,-149), -3px 3px 0 rgb(-197,-197,-197),-4px 4px 3px rgba(0,0,0,0.7),-4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}
			#text2 {
font-family: Arial, sans-serif;
line-height: 1em;
color: #FFFFFF;
font-size: 20px;
text-shadow:0px 0px 0 rgb(-54,-54,-54),-1px 1px 0 rgb(-101,-101,-101),-2px 2px 0 rgb(-149,-149,-149), -3px 3px 0 rgb(-197,-197,-197),-4px 4px 3px rgba(0,0,0,0.7),-4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}



ul.img_list {
	display:inline;
	float:left;
	height: 380px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}	
	
li.image_one, li.image_two, li.image_three a {
	display:block; 
				width: 300px;
				height: 380px;
	position:relative;
}	

li.image_one a .rollover {
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
				width: 300px;
				height: 388px;
	background:url(../images/1.png);
}

li.image_two a .rollover {
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
				width: 300px;
				height: 388px;
	background:url(../images/2.png);
}

li.image_three a .rollover {
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
				width: 300px;
				height: 388px;
	background:url(../images/3.png);
}