.comm{ position: absolute; left: 80px; top: 120px}
.subject{ font-size:16px;}

.body1{ text-align:justify; width: 600px}
.tab1{ position:absolute; left: 50px; top: 100px}

.subject2{ font-size:16px; width: 200px; height: 30px}
.message{ width: 500px; height: 150px}

#choices {position: absolute; top:70px; left: 50px; z-index:9}
#choices .nav-one, .nav-two, .nav-three, .nav-four{ overflow: hidden; margin: 0 0 10px 0; }
#choices .nav-one, .nav-two, .nav-three, .nav-four{ width: 97px; float: left; margin: 0 10px 0 0; }
#choices .nav-one, .nav-two, .nav-three, .nav-four{ margin-right: 5; }
#choices .nav-one, .nav-two, .nav-three, .nav-four{ display: block; padding: 5px; color: white; font-size: 20px; text-align: center; border: 0; }
.nav-one{background: #C06 ; cursor:pointer;border-radius: 5px;}
.nav-two{background: #63C ;cursor:pointer;border-radius: 5px;}
.nav-three{background: #0FF ;position: absolute; top:70px; left: 275px; z-index:9; cursor:pointer;border-radius: 5px;}
.nav-four{background: #0F9 ;position: absolute; top:70px; left: 390px; z-index:9; cursor:pointer;border-radius: 5px; width: 120px}

.nav-one:hover, .nav-two:hover, .nav-three:hover, .nav-four:hover{-webkit-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);}

.all_ot{ position:absolute; left:50px; top:120px;display: none; }
.cupdate{ position:absolute; left:50px; top:120px;display: none;}

.cgm_status{ position:absolute; left:500px; top:300px; display: none;}