.title{font-size: 2em; position:absolute; left: 200px; top: 60px}

* {margin:0; padding:0; outline:0}
#tablewrapper {width:1000px; margin:0 auto; position:absolute; top: 100px; left: 50px;}
.search2 {float:left; padding:6px;  background:clear; width: 600px}
#tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:979px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none;}
.tinytable th {background:url(images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:12px; padding:6px 8px 8px}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1;}
.tinytable .head h3 {background:url(images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background:url(images/header-selected-bg.gif)}
.tinytable .desc h3 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .evenrow td {background:#fff}
.tinytable .oddrow td {background:#ecf2f6}
.tinytable td.evenselected {background:#ecf2f6}
.tinytable td.oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold;display: none}
.tinytable tfoot td {padding:6px 8px 8px}
#tablefooter {height:15px; margin-top:20px}
#tablenav {float:left}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic} 
#selectedrow td {background:#c6d5e1}

		

#choices {position: absolute; top:70px; left: 100px; z-index:9}
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate{ overflow: hidden; margin: 0 0 10px 0; }
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate{ width: auto; float: left; margin: 0 10px 0 0; }
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate{ margin-right: 5; }
#choices .nav-one, .nav-two, .nav-three, .nav-four, .nav-five, .creditupdate{ display: block; padding: 5px; color: white; font-size: 20px; text-align: center; border: 0; }
.nav-one{background: #C06 ; cursor:pointer}
.nav-two{background: #63C ;cursor:pointer}
.nav-three{background: #0FF ;position: absolute; top:70px; left: 285px; z-index:9; cursor:pointer}
.nav-four{background: #0F9 ;position: absolute; top:70px; left: 410px; z-index:9; cursor:pointer}
.nav-five{background: #F60 ;position: absolute; top:70px; left: 550px; z-index:9; cursor:pointer}
.creditupdate{background: #F60 ;position: absolute; top:70px; left: 650px; z-index:9; cursor:pointer}

.all_ot{ position:absolute; left:50px; top:120px; display: none; }
.all_leave{ position:absolute; left:50px; top:120px; display: none; }
.cupdate{ position:absolute; left:50px; top:120px; display: none;}

.cgm_status{ position:absolute; left:500px; top:300px; display: none;}


.credittab{position: absolute; top: 140px; left:60px; width: 300px; height: 120px
cursor: pointer; -webkit-border-radius: 10px;
-moz-border-radius: 10px;}
.credittab2{ height: 75px}
.submitpw{width: 70px; height: 40px;width: 154px;}
.credit{ position: absolute; top: 60px; left: 50px;
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 30px;
    height: 30px;
    padding: 4px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 20px Arial, sans-serif;
	font-weight: bold}

#choices :hover{ background-color: #999; }



.wrapper{
	position: absolute;
	left: 50px;
	top: 120px;
	border: 3px solid black; width: 700px; height: 450px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px
}


.template{ position: absolute; left: 0px; top: 0px; border-bottom:1px dotted black; width: 700px; height: 130px;}
.logoa{ position: absolute; left: 20px; top: 20px; max-height: 100px; max-width: 150px}
.logob{ position: absolute; left: 620px; top: 20px; max-height: 60px; max-width: 60px}
.logoc{ position: absolute; left: 230px; top: 180px; opacity: .2}
.address{ position: absolute; left: 200px; top: 30px; width: 500px; font-size: 12px}
.FormType{ position: absolute; left: 240px; top: 90px; width: 500px; font-size: 40px}


	
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
#tablewrapper {width:800px; margin:0 auto; position:absolute; top: 100px; left: 50px;}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1; }
.tinytable {width:800px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none;}

}