img.bg {
			min-height: 100%;
			min-width: 1024px;
			width: 100%;
			height: auto;
			position: fixed;
			top: 0;
			left: 0;
			opacity: .7;
			z-index:-9;
		}
body {
	background: #f0f0f0;
	margin: 0;
	padding: 0;
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}

.template{ position: absolute; left: 0px; top: 40px; width: 650px; height: 130px;}
.logoa{ position: absolute; left: 20px; top: 20px; max-height: 100px; max-width: 150px;}
.logob{ position: absolute; left: 550px; top: 20px; max-height: 60px; max-width: 60px}
.logoc{ position: absolute; left: 140px; top: 60px; opacity: .1}
.address{ position: absolute; left: 200px; top: 30px; width: 500px; font-size: 12px}
.FormType{ position: absolute; left: 240px; top: 90px; width: 500px; font-size: 40px}



label { background: #06F;overflow: hidden; margin: 0 0 10px 0; width: 97px; float: left; margin: 0 10px 0 0; 
display: block; padding: 5px; color: white; font-size: 18px; text-align: center; border: 0; }

.dhstatus{position: absolute; left: 50px; top: 140px;width: 300px}
.cgmstatus{position: absolute; left: 300px; top: 140px;width: 300px}
.range{ position: absolute; width: 900px; top: 200px; left: 50px}
.range2{ width: 200px;  left: 20px}
.range3{ width: 200px; left: 20px}
.from{position: absolute; left: 20px; top: 120px;width: 300px}
.to{position: absolute; left: 300px; top: 120px;width: 300px}
.submit{ position:absolute; top: 260px; left: 50px}
.ssubmit{border-radius: 10px; width: 150px; height: 50px; -webkit-box-shadow: outset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: outset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			border-radius:5px;}
.roomno{ width: 120px}
h1 {font-size: 3em; margin: 20px 0;}

.container {width:700px; margin: 30px auto;  position: absolute; top: 110px; left: 50px}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left; border-radius: 5px;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 10px;
	border: 1px solid #fff;
	outline: none;
}

ul.tabs li a:hover {-webkit-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			-moz-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);
			border-radius:5px;}	
			
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	padding: 20px;
	border-top: none;
	clear: both;
	float: left; 
	width: 650px;
	background: #fff;
	height: 300px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}


