.legend{ top: 70px; left: 600px; position:absolute; color: white}
.notify{ color: white; background-color: red; float: left; top: 15px; height: 16px; width: 14px; position: absolute; border: 2px solid red;
border-radius: 50%; font-size: 12px; font-style:italic;}
.notify2{ color: white; background-color: blue; left: 33px; top: 15px; height: 16px; width: 14px; position: absolute; border: 2px solid blue;
border-radius: 50%; font-size: 12px; font-style:italic;}

.view {
   width: 60px;
   height: 40px;
   margin: 1px;
   float: top;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 2px #aaa;
   cursor: default;
}
.view .mask, .view .content {
   width: 49px;
   height: 33px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0; cursor:pointer;
}

.view img {
   display: block;
   position: relative;
}
.link{ font-weight:bold; color:#000; font-size: 15px; 
}

.afloor{ position:absolute;top: 120px; left: 10%; background-color: #060}
.bfloor{ position:absolute; top: 120px;left:15%; background-color: #063}
.cfloor{ position:absolute; top: 120px;left:20%; background-color: #066}
.dfloor{ position:absolute; top: 120px;left:25%; background-color: #069}
.efloor{ position:absolute; top: 120px;left:30%; background-color:  #06C}
.ffloor{ position:absolute; top: 120px;left:35%; background-color:  #06F}
.gfloor{ position:absolute; top: 120px;left:40%; background-color: #09F}
.hfloor{ position:absolute; top: 120px;left:45%; background-color: #09C}
.ifloor{ position:absolute; top: 120px;left:50%; background-color: #099}
.jfloor{ position:absolute; top: 120px;left:55%; background-color: #096}
.kfloor{ position:absolute; top: 120px;left:60%; background-color: #093}
.lfloor{ position:absolute; top: 120px;left:65%; background-color: #090}


.third-effect .mask {
   opacity: 0;
   overflow:visible;
   border:100px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.third-effect a.info {
   position:relative;
   top:-10px;
   opacity: 0;
   -webkit-transition: opacity 0.5s 0s ease-in-out;
   -moz-transition: opacity 0.5s 0s ease-in-out;
   -o-transition: opacity 0.5s 0s ease-in-out;
   -ms-transition: opacity 0.5s 0s ease-in-out;
   transition: opacity 0.5s 0s ease-in-out;
}
.third-effect:hover .mask {
   opacity: 1;
   border:100px solid rgba(0,0,0,0.7);
}
.third-effect:hover a.info {
	opacity:1;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
