		#nav { position: relative; z-index:999}
		a, a:hover, a:active, a:visited, a:visited:hover { text-decoration: none; border: none; outline: none; }
		
		img.bg {
			min-height: 100%;
			min-width: 100%;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			opacity: .9;
			z-index:-9;
		}
		
.title{}
.titleno{  position:absolute; left: 20px; top: 10px; background-color:white ;
border: solid #ccc 1px; font-size:35px; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;  }
textarea {
    resize: none;
}

* {margin:0; padding:0; outline:0}
#tablewrapper {width:800px; margin:0 auto; position:absolute; top: 100px; left: 20px;}
.search2 {float:left; padding:6px;  background:clear; width: 300px}
#tableheader select {float:left; font-size:12px; width:80px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:150px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:800px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none;}
.tinytable th {background:url(images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:12px; padding:6px 8px 8px}
.tinytable td {padding:2px 3px 3px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1;}
.tinytable .head h3 {background:url(images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background:url(images/header-selected-bg.gif)}
.tinytable .desc h3 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .evenrow td {background:#fff}
.tinytable .oddrow td {background:#ecf2f6}
.tinytable td.evenselected {background:#ecf2f6}
.tinytable td.oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold;display: none}
.tinytable tfoot td {padding:2px 4px 4px}
#tablefooter {height:15px; margin-top:20px}
#tablenav {float:left}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic} 
#selectedrow td {background:#c6d5e1}

		

#choices {position: absolute; top:70px; left: 30px; z-index:9}
#choices .nav-one, .nav-two, .nav-three{ overflow: hidden; margin: 0 0 10px 0; }
#choices .nav-one, .nav-two, .nav-three{ width: auto; float: left; margin: 0 10px 0 0; }
#choices .nav-one, .nav-two, .nav-three{ margin-right: 5; }
#choices .nav-one, .nav-two, .nav-three{ display: block; padding: 5px; color: white; font-size: 20px; text-align: center; border: 0; }
.nav-one,.nav-two, .nav-three{cursor:pointer;
	border-radius: 5px;
	background: rgb(208,228,247); /* Old browsers */
background: rgb(31,88,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(31,88,158,1) 1%, rgba(32,124,202,1) 66%, rgba(41,137,216,1) 74%, rgba(41,137,216,1) 74%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(31,88,158,1)), color-stop(66%,rgba(32,124,202,1)), color-stop(74%,rgba(41,137,216,1)), color-stop(74%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(31,88,158,1) 1%,rgba(32,124,202,1) 66%,rgba(41,137,216,1) 74%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f589e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.nav-one:hover, .nav-two:hover, .nav-three:hover{-webkit-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);-moz-box-shadow: inset 0 -10px 20px rgba(0, 0, 0, .05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255, 255, 255, .1);}



.wrapper{
	position: absolute;
	left: 20px;
	top: 120px;
	border: 3px solid black; width: 600px; height: 250px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px
}

label { background: #06F;overflow: hidden; margin: 0 0 10px 0; width: 97px; float: left; margin: 0 10px 0 0; 
display: block; padding: 5px; color: white; font-size: 18px; text-align: center; border: 0; }

.info1{ position: absolute; left: 60px; top: 140px}
.info1 div{width: 300px}

input .info1{ padding:5px 10px;
height:27px;
border:1px solid #ddd;
color: #F00;
position:relative;
z-index:2;}

.what{position:absolute; color: #01387C; left:5px;top:5px; font-weight:bold; width:300px; font-size: 18px}
.wh_day{ position:absolute; left: 120px; top: 30px; }

.datefiled{
	position:absolute;
	color: #01387C;
	left:300px;
	top:5px;
	font-weight:bold;
}
.particulars{
	position:absolute;
	color: #01387C;
	left:5px;
	top:80px;
	font-weight:bold;
	height: 50px; resize: none;
} 
.department{
	position:absolute;
	color: #01387C;
	left:300px;
	top:80px;
	font-weight:bold;
}
.status{
	position:absolute;
	color: #01387C;
	left:5px;
	top:200px;
	font-weight:bold;
}
.particulars, .tparticulars{
	position: absolute;
	height: 80px;
	width: 159px;
	text-align:left
}

.submit{
	position:absolute;
	color: #01387C;
	left:300px;
	top:200px;
	font-weight:bold;
}
.ssubmit{ position:absolute; width: 150px; height: 30px}
