body{font-family: Lucida Sans, Arial, Helvetica, sans-serif;}
.logo{ position:absolute; top:10px; left: 10px; width: 300px; height:100px;}
.name{position:absolute;color: #01387C;left:10px;top:150px;width: 300px; font-size:18px; width: 400px;
}
.footer{position:absolute; top:800px; left: 10px; width: 300px; height:100px;}



.title{ position: absolute; left: 400px; top: 50px; font-size: 30px; width: 400px; font-weight:bold;}

.name2{
	height: 40px;
	width: 100px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
.dept{position:absolute;color: #01387C;left:10px;top:180px;width: 300px; font-size:18px
}
.position{position:absolute;color: #01387C;left:10px;top:240px;width: 300px; font-size:18px; width: 600px;
}
.from{position:absolute;color: #01387C;left:10px;top:210px;width: 300px; font-size:18px
}
.subject{position:absolute;color: #01387C;left:10px;top:240px;width: 300px; font-size:18px; width: 600px;
}
.message{position:absolute;color: #01387C;left:10px;top:300px;width: 700px; font-size:18px
}
.by{position:absolute;color: #01387C;left:10px;top:600px;width: 300px; font-size:18px
}


.conforme{ position:absolute; left: 600px; top: 900px; width: 400px}