@media print{@page {size: portrait}
body{font-family: Verdana, Geneva, sans-serif}
.logo{ position:absolute; top:10px; left: 10px; width: 300px; height:100px;}
.name{position:absolute;color: #01387C;left:10px;top:150px;width: 300px; font-size:18px; width: 400px;
}

.title{ position: absolute; left: 400px; top: 50px; font-size: 30px; width: 400px; font-style:italic; font-weight:bold;}

.name2{
	height: 40px;
	width: 100px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
.dept{position:absolute;color: #01387C;left:10px;top:180px;width: 300px; font-size:18px
}
.position{position:absolute;color: #01387C;left:350px;top:180px;width: 300px; font-size:18px; width: 600px;
}
.from{position:absolute;color: #01387C;left:10px;top:210px;width: 300px; font-size:18px
}
.to{position:absolute;color: #01387C;left:350px;top:210px;width: 300px; font-size:18px; width: 400px;
}
.total{position:absolute;color: #01387C;left:10px;top:240px;width: 300px; font-size:18px; color:#F00
}
.class{position:absolute;color: #01387C;left:350px;top:240px;width: 300px; font-size:18px; color:#F00; width: 400px;
}
.rating{position:absolute;color: #01387C;left:10px;top:290px; font-size:14px; width: 900px; text-align: justify
}
.remarks{position:absolute;color: #01387C;left:10px;top:590px;width: 300px; font-size:18px
}
.by{position:absolute;color: #01387C;left:10px;top:600px;width: 300px; font-size:18px
}




}
