body{font-family: Lucida Sans, Arial, Helvetica, sans-serif;}
.logo{ position:absolute; top:10px; left: 10px; width: 300px; height:100px;}
.name{position:absolute;color: #01387C;left:10px;top:150px;width: 300px; font-size:18px; width: 400px;
}
.equals{position:absolute;left:370px;top:20px;font-size:15px; width: 700px;}
.equals2{position:absolute;left:370px;top:55px;font-size:15px; width: 700px;}
.equals3{position:absolute;left:370px;top:90px;font-size:15px; width: 700px;}
.equals4{position:absolute;left:370px;top:125px;font-size:15px; width: 700px;}
.equals5{position:absolute;left:370px;top:160px;font-size:15px; width: 700px;}
.equals6{position:absolute;left:370px;top:195px;font-size:15px; width: 700px;}
.equals7{position:absolute;left:370px;top:225px;font-size:15px; width: 700px;}
.equals8{position:absolute;left:370px;top:260px;font-size:15px; width: 700px;}
.equals9{position:absolute;left:370px;top:295px;font-size:15px; width: 700px;}
.equals10{position:absolute;left:370px;top:330px;font-size:15px; width: 700px;}
.equals11{position:absolute;left:370px;top:365px;font-size:15px; width: 700px;}
.equals12{position:absolute;left:370px;top:415px;font-size:15px; width: 700px;}
.equals13{position:absolute;left:370px;top:455px;font-size:15px; width: 700px;}



.title{ position: absolute; left: 400px; top: 50px; font-size: 30px; width: 400px; font-weight:bold;}

.name2{
	height: 40px;
	width: 100px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
.dept{position:absolute;color: #01387C;left:10px;top:180px;width: 300px; font-size:18px
}
.position{position:absolute;color: #01387C;left:350px;top:180px;width: 300px; font-size:18px; width: 600px;
}
.from{position:absolute;color: #01387C;left:10px;top:210px;width: 300px; font-size:18px
}
.to{position:absolute;color: #01387C;left:350px;top:210px;width: 300px; font-size:18px; width: 400px;
}
.total{position:absolute;color: #01387C;left:10px;top:240px;width: 300px; font-size:18px; color:#F00
}
.class{position:absolute;color: #01387C;left:350px;top:240px;width: 300px; font-size:18px; color:#F00; width: 400px;
}
.rating{position:absolute;color: #01387C;left:10px;top:310px; font-size:14px; width: 900px; text-align: justify
}
.remarks{position:absolute;color: #01387C;left:10px;top:590px;width: 300px; font-size:18px
}
.by{position:absolute;color: #01387C;left:10px;top:600px;width: 300px; font-size:18px
}

.recommend{ position:absolute; top: 270px; left: 10px; width: 400px; color: #01387C; width: 800px;}
.recommend2{ height: 40px;width: 100px;font-size: 20px;color: #000;font-weight: bold; font-size:15px}

.recommend3{ position:absolute; top: 300px; left: 450px; width: 400px; color: #01387C; width: 800px;}
.recommend4{ height: 40px;width: 100px;font-size: 20px;color: #000;font-weight: bold; font-size:15px}


.conforme{ position:absolute; left: 600px; top: 900px; width: 400px}