img.bg {
			min-height: 100%;
			min-width: 100%;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			opacity: .9;
			z-index:-9;
		}
		
		#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);

}
#custom-bootstrap-menu.navbar-default {
    font-size: 17px;
    background-color: rgba(248, 248, 248, 0.8);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(56, 55, 55, 0.69);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #383737;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #383737;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #383737;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}